.container{
    max-width: 1666px;
    padding: 0px 30px;
    margin: 0 auto;
}
.site-container{
    overflow: hidden;
}

.flex{
    display: flex;
}


.btn-reset{
    cursor:pointer;
    border:none;
    background-color: transparent;
    padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.section__title{
font-weight: 700;
font-size: 64px;
line-height: 80px;
color:var(--dark-color);
}

.section__title-center{
    text-align: center;
    max-width: none;
}

.btn{
    padding:33px 80px ;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2.18182px;  
    text-transform: uppercase;
    border-radius: 8px;
    color: var(--white-color);

}
