.first {
    height: 100vh;
    min-height: 640px;
    background-image: url(/img/first.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white-color);
    
}

.first__container{
    position: relative;
    height: 100%;
    padding-top: 223px;
    padding-bottom: 200px;
}

.first__link {
    background-color: rgb(28, 46, 61, 0.4);
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 100px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 42px;
}

.first__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 84px;
    padding-bottom: 40px;
    max-width: 40%;
}

.first__descr {
    font-family: 'SFCompact', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 33%;
    margin-bottom: 58px;
}
    
.first__btn{
    background-color:var(--accent-color);
    position: relative;
    z-index: 5;
}

.first__bottom{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    display: flex;
   align-items: flex-end;
}

.search__form{
    flex-shrink: 0;
    width: 78%;
    position: relative; 
    overflow: hidden;
    border-top-left-radius: 4px;
    height: 120px;
    
}
.search__form-field{
    border:none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    color:var(--dark-color);
    padding-left: 55px;
    padding-right: 100px;
}

.search__form-button{
    width: 18px;
    height: 18px;
    background-image: url(/img/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 62px;
    top: 50%;
    transform: translateY(-50%);
}

.main__slider{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    font-size: 0;
    line-height: 1;
}
.main__slider-text{
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neptune-color);
    text-transform: uppercase;
    color:var(--white-color);
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2.18182px;
    line-height: 1;
}


@media(max-height:1079px){
.first__container{
    padding: 120px 30px;
}
}


@media(max-height:880px){
    .first__container{
        padding: 100px 30px;
    }
    .first__descr{
        margin-bottom: 30px;
    }
    .first__title{
        font-size: 75px;
        line-height: 65px;
    }
    }

    @media(max-height:780px){
        .search__form{
            height: 80px;
        }
        .main__slider-text{
            height: 80px;

        }
        .first__title{
            font-size: 60px;
            line-height: 65px;
            margin-bottom: 30px;
        }
        .first__descr{
            font-size: 12px;
            margin-bottom: 30px;
        }
        .first__btn{
            padding: 25px 40px;
        }
        }