.truble{
    background-color: chartreuse;
}
.swiper {
}
.mySwiper {
}
.swiper-wrapper {
}
.swiper__img-slider {

}
.swiper-slide {
}
.swiper-pagination {
}

.slider__box{
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
}